/*FUENTES*/
@font-face{
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("fonts/nevis.woff") format("woff"),
        url("fonts/nevis.ttf") format("truetype"),
        url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
font-family: "icons";
src: url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg"),
     url("fonts/websymbols-regular-webfont.eot");
src: url("fonts/websymbols-regular-webfont.eot?#iefix")
format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf")  format("truetype");
font-weight: normal;
font-style: normal;
}


/*ESTILOS GENERALES*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;
}

body {
    background-image: url(paven.png);
}

a {
    text-decoration: none;
    color: #529125;
}

a:visited {
    color: #46841a;
}

a:hover {
    color: #285616;
}

.red {
    color: #9b2422 !important;
}

.blue {
    color: #0c73f2 !important;
}

.orange {
    color: #e3932e !important;
}

.icon {
    font-family: "icons";
    float: left;
    margin-right: 5px;
    margin-top: -2px;
}

.clearfix {
    float: none;
    clear: both;
}

/*FORMULARIOS*/
input[type="text"],
input[type="email"],
input[type="password"],
select{
    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #333333 inset;
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: grey;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border: 2px solid #70b231;
    color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    display: block;
    border-radius: 2px;
    width: 60px;
    padding: 3px;
    color: white;
    background-color: #70b231;
    border: 2px solid green;
    cursor: pointer;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    text-shadow: 1px 1px 3px #333333;
    background-color: rgb(105, 163, 49);
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
    box-shadow: 0px 0px 3px green inset;
    font-size: 15px;
}

/*CABECERA*/
header {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}


header #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}

header #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
    transition: all 500ms;
}

header #logotipo img:hover{
    border: 5px solid #70b231;
    border-radius: 999px;
    background: #333333;
}


header h1 {
    text-align: center;
    font-size: 40px;
    color: #70b231;
    text-shadow: 0px 2px 1px #333333;
    font-family: "nevis";
    letter-spacing: 4px;
    margin-top: 10px;
    transition: all 300ms;
}

header h1:hover{
    text-shadow: 4px 4px 4px black;
    
}

header h1 a{
    color: #70b231;
    text-decoration: none;
}

/*PRUEBA PARA EFECTO DE FONDO*/
/*
header:hover{
    border: 5px solid #70b231;
    border-radius: 999px;
    background: #333333;
    transition: all 2s;
    animation-name: fondo;
}

@keyframes fondo{
    0%{
        background: #333333;;
    }
    50%{
        background: #333333(222deg);
    }
    75%{
        background-color: purple;
    }
    77%{
        border: 10px solid #ff3100;
    }
    80%{
        border: 10px solid green;
    }
    100%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
         
}
*/

/*BARRA DE NAVEGACION*/
#menu{
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: white;
    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;
    box-shadow: 0px 2px 3px grey;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0px auto;  
    width: 1150px;
}

#menu > ul > li  {
    line-height: 40px;
    float: left;
    border-right: 1px solid grey;
    transition: all 300ms;
}    
    
#menu > ul > li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}  

#menu > ul > li > a:first-child{
    border-left: 1px solid grey;
}
    
#menu > ul > li:hover{
    background-color: rgba(112, 178, 49, 0.46);
    box-shadow: 0px 0px 3px #333333 inset;
    /*border: 1px solid white;*/
}

/*MENU DESPLEGABLE*/
#menu > ul > li > ul{
    display: none;
    position: absolute;
    width: 160px;
    box-shadow: 0px 0px 2px grey;
    z-index: 1;
}
    
#menu > ul > li:hover > ul{
    display: block;
}

#menu > ul > li:hover > ul > li{
    display: block;
    background-color: rgba(51, 51, 51, 0.86);
    font-size: 13px;
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif, Helvetica, Arial;
    box-shadow: 0px 0px 2px #333333 inset;
    transition: all 300ms;
    
}
    
#menu > ul > li:hover > ul > li a{
    color: white;
}
    
#menu > ul > li:hover > ul > li:hover{
    box-shadow: 0px -3px 7px #70b231 inset;
    border: 1px solid #70b231;
    background: #333333;
    
}
/*CONTENIDO*/
#content{
    font-family: sans-serif, Arial, Helvetica;
    width: 1250px;
    min-height: 1100px;
    margin: 0px auto;
}

/*BARRA LATERAL*/
#aside, #frase {
    width: 200px;
    float: left;
    margin: 30px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 2px #333333;
    font-family: sans-serif, Arial, Helvetica;
}

#frase {
    /*clear: both;*/
    width: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
}

#aside .widget {
    display: block;
    width: 180px;
    margin: 5px auto;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside .widget:last-child{
    margin-bottom: 20px;
}

#aside h3 {
    display: block;
    color: #333333;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    background-color: #f2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    text-align: center;
}

#aside li {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;
    list-style: square;
}

/*FORMULARIOS BARRA LATERAL*/
#aside div label,
#aside div input[type="text"],
#aside div input[type="email"],
#aside div input[type="password"],
#aside div label a{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside div input[type="button"],
#aside div input[type="submit"],
#aside div button {
    margin-top: 5px;
    margin-bottom: 10px;
}

#aside labe,
#aside input{
    margin: 0px auto;
    text-align: center;
}

/*SECCIONES*/
#sections {
    float: right;
    width: 75%;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

#sections .titulo {
    font-family: "fajala"; 
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-top: -30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

#sections section {
    margin-top: 40px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 4px #c9c9;
    color: #333;
    font-size: 16px;
    overflow: hidden;
}

#sections .article {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#sections .date {
    color: gray;
    font-size: 14px;
}

#sections .stickerOne,
#sections .stickerTwo {
    position: absolute;
    margin-top: -38px;
    z-index: 0;
}

#sections .stickerTwo {
    margin-left: 860px;
}

#history {
    float: right;
    margin-top: 20px;
    font-family: sans-serif, Arial, Helvetica;
    margin-right: 20px;
}

/*FOOTER*/
#footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    background-color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 5px grey;
}














































